//pre= JSON.stringify(listableFields, null, 2)
section#list
  div.pull-right
    button.btn.btn-primary.btn-create.ng-hide(
      ui-sref=schema.states.create
      ng-show=`$root.Auth.hasPermissions('${schema.permissions.create}')`
      )
      i.fa.fa-plus.fa-lg
      span(translate="")= schema.getButton('list_create').text

  div.clearfix

  //pre {{list | json}}

  table.table.table-striped(st-table='' id=name st-pipe="getList")
    thead
      tr.headers
        each control in listableFields
          th(st-sort=control.realpath translate="")
            span= control.frontField.label || control.backField.label
        th.actions(translate="") Actions
      tr.filters
        each control in listableFields
          th
            if (control.frontField.type)
              if (control.frontField.type == "text" || control.frontField.type == "static" || control.frontField.type == "email")
                input.input-sm.form-control(
                  st-search=control.searchModel
                  type="text"
                  id=control.id
                )
              else if (control.frontField.type == "number")
                input.input-sm.form-control(
                  st-search=control.searchModel
                  type="number"
                  id=control.id
                )
              else if (control.frontField.type == "date-range")
                st-date-range(
                predicate=control.searchModel
                id=control.backField.name
              )
              else if (control.frontField.type == "select" && control.frontField.source_url)
                st-select(
                  source-url=JSON.stringify(control.frontField.source_url)
                  predicate=control.searchModel
                  id=control.backField.name
                )
              else if (control.backField.labels)
                st-select(
                  enum=JSON.stringify(control.backField.enum)
                  labels=JSON.stringify(control.backField.labels)
                  predicate=control.searchModel
                  id=control.backField.name
                )
        th
    tbody
      tr(ng-repeat='row in list.list')
        each control in listableFields
          td= '{{row.' + control.realpath + (control.label_filter ? ' | ' + control.label_filter : '') + '}}'
        td.actions
          a.entity-action.entity-update.ng-hide(
            ui-sref=`^.update({ ${schema.apiIdParam} : row._id })`
            uib-tooltip=`{{'${schema.getButton('update').tooltip}' | translate}}`
            ng-show=`$root.Auth.hasPermissions('${schema.permissions.update}')`
          )
            i.fa.fa-pencil-square-o.fa-lg
          a.entity-action.entity-delete.ng-hide(
            ng-click='delete($index, row)'
            confirm=`{{'${schema.getButton('delete').alert}' | translate}}`
            uib-tooltip=`{{'${schema.getButton('delete').tooltip}' | translate}}`
            ng-show=`$root.Auth.hasPermissions('${schema.permissions.delete}')`
          )
            i.fa.list.fa-trash-o.fa-lg
    tfoot
      tr
        //td.text-center(st-pagination='', st-items-by-page='list.limit', colspan=columns)
        td(colspan=listableFields.length + 1)
          span(st-pagination="", st-items-by-page="list.limit")
          button.btn.btn-secondary(ng-click="download('text/csv')")
            i.fa.fa-download
            span Descargar SCV
          button.btn.btn-secondary(ng-click="download('text/xml')")
            i.fa.fa-download
            span Descargar XML
          button.btn.btn-secondary
            i.fa.fa-download
            span Descargar EXCEL-XML
