block contentBlock
  div(class=generatorOptions.layout === "horizontal" ? "col-xs-8" : undefined)
    div.control-wapper.form-check
      div(ng-repeat=`item in ${control.cfgModel}_values`)
        label.form-check-label
          input.form-check-input(
            id=`${control.backField.name}-{{$index}}`
            type="checkbox"
            checklist-model=control.model
            name=control.backField.name
            checklist-value="item._id"
          )
          span {{item.label}}
        br

