block labelBlock
  span

block contentBlock
  div(class=generatorOptions.layout === "horizontal" ? "col-xs-offset-4 col-xs-8" : undefined)
    div.control-wapper.checkbox
      label
        input(
          type="checkbox"
          ng-model=control.model
          name=control.formName
          id=control.backField.name
          ng-true-value="true"
          ng-false-value="false"
        )
        span(translate="")= control.label
