block contentBlock
  h3= (control.frontField.label || control.backField.label) + ` ({{${control.model}.length || 0}})`
  button.pull-right.btn.btn-secondary(
    ng-click=`push(${control.model} || (${control.model} = []), {})`
  )
    span.fa.fa-plus
    span Añadir
  div.clearfix

  ol.control-list.list-unstyled
    li.list-item(
      ng-repeat=`x in ${control.model}`
      ng-init=`${control.idArray} = $index`
    )
      button.pull-right.btn.btn-danger(
        ng-click=`splice(${control.model}, $index)`
      )
        span.fa.fa-trash-o
        span Elimnar
      div.clearfix
      //pre {{x | json}}
      //pre=JSON.stringify(subControls)
      each c in subControls
        form-control!= c
