block controlBlock
  input.form-control(
    id="control-" + control.backField.name
    type="password"
    name=control.formName
    ng-model=control.model
  )&attributes(control.frontField.attributes)
  if (control.frontField.attributes && control.frontField.attributes['ng-required'])
    div.required-icon(ng-show=control.frontField.attributes['ng-required'])
      div.required-text *
