extends tpl-errors.pug

block errorBlock
  p.help-block.error-block.ng-hide(
    ng-show= `(${control.formModelExpr}.$touched || ${control.formModelExpr}.$dirty) && ${control.formModelExpr}.$error.${errorKey}`
  )
    //span &times;&nbsp;
    span ·&nbsp;&nbsp;
    span(translate="")= errString
