div.control-container.form-group.has-feedback(
  ng-class= "{" +
    `'has-error': (${control.formModelExpr}.$touched || ${control.formModel}.$dirty) && ${control.formModelExpr}.$invalid,` +
    `'has-success': ${control.formModelExpr}.$valid` +
  "}"
  id=`${control.backField.name}-container`
  )&attributes(control.container)
  block labelBlock
    label.control-label(for=control.backField.name translate="")= control.label
  block contentBlock
    div
      div.control-wapper
        block controlBlock
        //span.glyphicon.glyphicon-ok.form-control-feedback.ng-hide(ng-show= control.formModel + ".$valid")
        //span.glyphicon.glyphicon-remove.form-control-feedback.ng-hide(ng-show= control.formModel + ".$invalid")

  if control.frontField.help || control.backField.help
    div.clearfix
    div.help-block(translate="")= control.frontField.help || control.backField.help

  div.clearfix
  block errorsBlock
    if control.errors !== false
      div.error-list
        include errors-list.pug
