div.control-container.form-group.has-feedback(
  ng-class= "{" +
    `'has-error': (${control.formModel}.$touched || ${control.formModel}.$dirty) && ${control.formModel}.$invalid,` +
    `'has-success': ${control.formModel}.$valid` +
  "}"
  id= control.backField.name + "-container"
  )&attributes(control.container)
  block labelBlock
    label.col-xs-4.control-label(for=control.backField.name translate="")= control.label
  block contentBlock
    div.col-xs-8
      div.control-wapper
        block controlBlock
        //span.glyphicon.glyphicon-ok.form-control-feedback.ng-hide(ng-show= control.formModel + ".$valid")
        //span.glyphicon.glyphicon-remove.form-control-feedback.ng-hide(ng-show= control.formModel + ".$invalid")

  if control.help
    div.clearfix
    div.col-xs-offset-4.col-xs-8.help-block(translate="")= control.help

  div.clearfix
  block errorsBlock
    div.col-xs-offset-4.col-xs-8.error-list
      include errors-list.pug
