div.form-group.row.has-feedback(
  ng-class= "{" +
    `'has-error': (${control.formModelExpr}.$touched || ${control.formModel}.$dirty) && ${control.formModelExpr}.$invalid,` +
    `'has-success': ${control.formModelExpr}.$valid` +
  "}"
  id=`${control.backField.name}-container`
  )&attributes(control.container)
  block labelBlock
    label.col-xs-4.col-form-label.form-control-label(for=control.backField.name translate="")= control.frontField.label || control.backField.label
  block contentBlock
    div.col-xs-8
      div.control-wapper
        block controlBlock
        //span.glyphicon.glyphicon-ok.form-control-feedback.ng-hide(ng-show= control.formModel + ".$valid")
        //span.glyphicon.glyphicon-remove.form-control-feedback.ng-hide(ng-show= control.formModel + ".$invalid")

  if control.frontField.help || control.backField.help
    div.clearfix
    div.offset-xs-4.col-xs-8.form-text.text-muted(translate="")= control.frontField.help || control.backField.help

  div.clearfix
  block errorsBlock
    if control.errors !== false
      div.offset-xs-4.col-xs-8.error-list
        include errors-list.pug
